.container
{
    max-width: 480px;
    width: 100%;
}
.la th
{
    font-size: 16px;
}
.gal 
{
    text-align: center;
}
.petik{
    color: red;
}
/* #op3,.op3{
    display: none;
} */

